/* TSOS.css */

body {
  background: #909193 url(distrib/images/dibs.jpg) repeat;
  background-size: cover;
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 12pt;
  font-weight: normal;
  font-style: normal;
}

h1 {
  color: white;
  font-size: 24pt;
  font-weight: normal;
  font-style: normal;
  border-bottom: 1px solid black;
}

h2 {
  color: black;
  font-size: 20pt;
  font-weight: normal;
  font-style: normal;
}

h3 {
  font-family: Helvetica, Verdana, Arial, sans-serif;
  font-size: 16pt;
  font-weight: normal;
  font-style: normal;
}

#display {
  background-color:#DFDBC3;
  border: 2px solid red;
  cursor: default;
}

.normal_button {
  width: 100px;
}

.footerText {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 8pt;
  text-align: center;
}
table, td, th{
  color: #5A659A;
  background-color: #ECB8BC;
  border: 1px solid white;
  padding: 6px;
}
label {
  color: #5A659A;
}

#Memorytable{
  height: 200px;
  width : 500px;
  overflow-y: scroll;
}



#divTaskBar{
  position: fixed;
  border: 1px solid black;
  left: 0%;
  bottom: 0%;
  font-size: x-large;
  color: white;
  padding-left: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 45px;
  height: 15px;
  width: 100%;
  background-color:rgb(79, 80, 78);
}

